// Variables
@import "./gdpr-banner/variables";

// Dépendances
@import "./gdpr-banner/theme-dark";
@import "./gdpr-banner/theme-light";

// Personnalisation
.GdprBanner {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1100;
  padding: 10px 30px 10px 10px;
  text-align: center;
  background-color: $gdpr-banner-background-color;
  color: $gdpr-banner-color;
  transform: translateY(100%);
  transition: transform .5s ease-in-out;

  &.visible {
    transform: translateY(0);
  }
}

.GdprBanner-noticeText {
  margin-bottom: 10px;
}

.GdprBanner-noticeButtons {
  margin: 0 -5px;
}

.GdprBanner-button {
  display: inline-block;
  margin: 0 2px 5px;
  padding: 0.6em 1.2em;
  line-height: 1;
  white-space: nowrap;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;

  &,
  &:visited {
    color: $gdpr-banner-color;
    border: solid 1px $gdpr-banner-color;
  }

  &:hover,
  &:active,
  &:focus {
    color: $gdpr-banner-hover-color;
    border-color: $gdpr-banner-hover-color;
  }
}

.GdprBanner-close {
  display: block;
  border:none;
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.GdprBanner-noticeClose {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: color 300ms ease-in-out;

  &,
  &:active,
  &:visited {
    color: $gdpr-banner-color;
  }

  &:hover,
  &:focus {
    color: $gdpr-banner-hover-color;
  }
}

.GdprBanner-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1099;
  opacity: $gdpr-banner-backdrop-opacity;
  background-color: $gdpr-banner-backdrop-background-color;
  transition: all 0.5s;
}