$gdpr-banner-theme: dark !default;
$gdpr-banner-background-color: #2B2B2B;
$gdpr-banner-color: #FFFFFF;
$gdpr-banner-hover-color: #999999;
$gdpr-banner-backdrop-background-color: #FFFFFF;
$gdpr-banner-backdrop-opacity: 0.5;