$cookie-banner-theme: dark !default;
$cookie-banner-background-color: #2B2B2B;
$cookie-banner-color: #FFFFFF;
$cookie-banner-hover-color: #999999;
$cookie-banner-backdrop-background-color: #FFFFFF;
$cookie-banner-backdrop-opacity: 0.5;